{% block upload_form %}
    <div class="form-input form-inline">
        <form action="{% url 'upload' %}" method="post">
            {% csrf_token %}
            {% if form.errors %}
                <span class="has-error">

                </span>
            {% endif %}
            <label for="name">Название реки</label>
            <input type="text" id="name" name="name">

            <label for="csv_file">Выберите <a href="{% url 'upload_csv' %}">CSV файл</a></label>
            <input type="file" class="btn btn-default btn-file
                {% if form.csv_file.error %}
                    has-error
                {% endif %}
            " id="csv_file" name="csv_file">
            <input type="submit" class="btn btn-default">
            {% if form.csv_file.error %}
                <p class="errors">
                    Загрузите правильный CSV файл. {% url 'upload_csv' %}
                </p>
            {% endif %}
        </form>
    </div>
{% endblock %}